/* Footer navigation links */
nav {
  margin: 1em 0;

  & > a {
    margin-right: 0.5em;
    padding: 0 0.4em;
    display: inline-block;
    border-radius: 6px;

    &.active {
      background-color: #d22;
      color: #fff;
    }
  }
  /* Horizontal scrolling navbar. From: https://is.gd/WuJxqy */
  &.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
