@use "sass:color";

article.talk {
  border: solid $brand-color;
  border-width: 0 0 1px;
  padding: 1em 0 2em;
  border-collapse: collapse;

  &:last-of-type {
    border-bottom: none;
  }

  h2 {
    color: $brand-color;
  }

  h3 {
    color: $headline-color;

    @media (prefers-color-scheme: dark) {
      color: $headline-color-dark;
    }
  }
  time {
    float: right;
    line-height: 2;
    font-size: 0.9em;
    padding-top: 0.15em
  }

  i {
    font-size: 0.9em;
  }

  a {
    color: $text-color;
    text-decoration: none;
    background: -webkit-linear-gradient(transparent 95%, $light-brand-color 5%);
    background: -moz-linear-gradient(transparent 95%, $light-brand-color 5%);
    background: linear-gradient(transparent 95%, $light-brand-color 5%);

    -webkit-box-shadow: inset 0 0 0 0 $light-brand-color;
    box-shadow: inset 0 0 0 0 $light-brand-color;


    -webkit-transition: box-shadow ease 500ms;
    -moz-transition: box-shadow ease 500ms;
    transition: box-shadow ease 500ms;

    &::after {
      content: "\f08e";
      padding-left: 0.4em;
      vertical-align: middle;
      box-shadow: none;

      font-size: 0.6em;
      font-weight: 900;
      font-family: "Font Awesome 6 Free";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: var(--fa-display, inline-block);
      font-style: normal;
      font-variant: normal;
      line-height: 0em;
      text-rendering: auto;
      opacity: 0.5;
    }

    &:hover {
      color: color.adjust($background-color, $lightness: 50%);
      -webkit-box-shadow: inset 0 -100px 0 0 $light-brand-color;
      box-shadow: inset 0 -100px 0 0 $light-brand-color;

    }

    @media (prefers-color-scheme: dark) {
      color: $text-color-dark;
    }
  }

  p.footer {
    color: $headline-color;

    @media (prefers-color-scheme: dark) {
      color: $headline-color-dark;
    }

    a {
      margin: 0 1em 0 0.1em;
      color: $headline-color;

      @media (prefers-color-scheme: dark) {
        color: $headline-color-dark;
      }
    }
  }
}
